<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NopConfig" type="Infrastructure.Crosscutting.Configuration.NopConfig,Infrastructure.Crosscutting" requirePermission="false" />
  </configSections>
  <NopConfig>
    <DynamicDiscovery Enabled="true" />
    <Engine Type="Infrastructure.Crosscutting.Tests.EngineTest.CustomEngine,Infrastructure.Crosscutting.Tests" requirePermission="false"/>
    <ScheduleTasks>
      <!--run each minute: 60*1=60-->
      <Thread seconds="60">
        <task name="Emails" type="Nop.Services.Messages.QueuedMessagesSendTask, Nop.Services" enabled="true" stopOnError="false" maxTries="5" />
      </Thread>
      <!--run each 15 minutes: 60*15=900-->
      <Thread seconds="900">
        <task name="UpdateExchangeRates" type="Nop.Services.Directory.UpdateExchangeRateTask, Nop.Services" enabled="true" stopOnError="false" />
      </Thread>
      <!--run each hour: 60*60=3600-->
      <Thread seconds="3600">
        <task name="DeleteGuestsTask" type="Nop.Services.Customers.DeleteGuestsTask, Nop.Services" enabled="true" stopOnError="false" olderThanMinutes="1440" />
      </Thread>
    </ScheduleTasks>
    <Themes basePath="~/Themes/" />
  </NopConfig>
</configuration>